[user]
  name  = Will Weaver
  email = monkey@buildingbananas.com
[core]
	editor = vim
[web]
	browser = google-chrome
[push]
	default = simple
[color]
	ui = auto
[github]
	user = funkymonkeymonk
[alias]
    co = checkout
    up = pull --rebase --prune
    